:root {
  /* for gradients mixes */
  --light_slate_blue: hsl(252, 100%, 67%);
  --light_royal_blue: hsl(241, 81%, 54%);
  --violet_blue: hsla(256, 72%, 46%, 1);
  --persian_blue: hsla(241, 72%, 46%, 0);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
}

main {
  display: flex;
  border-radius: 20px;
  box-shadow: 15px 15px 15px 15px rgba(211, 211, 211, 0.4);
}

article {
  width: 50%;
  padding: 30px;
}

.card-result {
  background: linear-gradient(
    to bottom,
    var(--light_slate_blue) 1%,
    var(--light_royal_blue) 99%
  );
  border-radius: 20px;
}

.card-result h1 {
  font-weight: 800;
  color: hsl(241, 100%, 89%);
}

.card-result .result-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    var(--violet_blue),
    var(--persian_blue)
  );
  margin: auto;
}

.card-result .result-score .actual {
  font-weight: 800;
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}

.card-result .result-score .max {
  opacity: 0.6;
  color: hsl(241, 100%, 89%);
}

.card-result h2 {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

.card-result p {
  font-weight: 400;
  font-size: 1.125rem;
  color: hsl(241, 100%, 89%);
}

.card-summary {
  border-radius: 20px;
  text-align: left;
}

.card-summary h1 {
  font-weight: 800;
  color: hsl(224, 30%, 27%);
}

.card-summary #dynamic-list {
  list-style: none;
  padding: 0;
}

.card-summary #dynamic-list li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: auto;
  border-radius: 0.7rem;
  padding: 15px;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.card-summary #dynamic-list .reaction {
  font-weight: 400;
  color: hsl(0, 100%, 50%);
  background-color: hsl(0, 100%, 90%);
}

.card-summary #dynamic-list .memory {
  font-weight: 400;
  color: hsl(39, 100%, 50%);
  background-color: hsl(39, 100%, 90%);
}

.card-summary #dynamic-list .verbal {
  font-weight: 400;
  color: hsl(166, 100%, 30%);
  background-color: hsl(166, 100%, 90%);
}

.card-summary #dynamic-list .visual {
  font-weight: 400;
  color: hsl(234, 85%, 40%);
  background-color: hsl(234, 85%, 90%);
}

.card-summary #dynamic-list li .score {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
  margin-left: 50%;
}

.card-summary #dynamic-list li .score-text {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
  opacity: 0.4;
}

.card-summary .btn {
  border: none;
  width: 100%;
  height: 3rem;
  border-radius: 3rem;
  font-weight: 400;
  font-size: 1.125rem;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: 0.5s all ease;
}

.card-summary .btn:hover {
  background: linear-gradient(
    to bottom,
    var(--light_slate_blue) 1%,
    var(--light_royal_blue) 99%
  );
}

footer {
  margin: 30px;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 450px) {
  main {
    flex-direction: column;
    box-shadow: none;
    padding-top: 30px;
  }
  
  article {
    width: 100%;
  }
  
  .card-result .result-score {
    width: 120px;
    height: 120px;
  }
  
  .card-summary #dynamic-list li .score {
    margin-left: auto;
  }

  footer {
    margin: 10px;
  }
}